[Unit]
Description=VATSIM Logbook
After=network.target

[Service]
Type=simple
User=kilango
WorkingDirectory=/home/kilango/Git/vatsim-logbook
EnvironmentFile=/home/kilango/Git/vatsim-logbook/.env
ExecStart=/usr/bin/python3 run.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
